:root {  
  /* Brand Colors */
  --color-primary: #3B82F6;       /* Vibrant Blue */
  --color-primary-light: #DBEAFE; /* Soft Sky Blue */
  --color-secondary: #F97316;     /* Warm Orange */

  /* Backgrounds & Surfaces */
  --color-background: #FCF8F5;    /* Neutral background */
  --color-white: #FCF8F5;
  --color-off-white: #F9FAFB;

  /* Text & Neutrals */
  --color-black: #0E100F;
  --color-gray: #171717;
  --color-light-gray: #373737;
  --color-light1-gray: #212121;
  --color-light2-gray: #9DA1A1;

    /* Default to light theme */
    --color-text: var(--color-black);
    --color-card: var(--color-off-white);
    --color-border: var(--color-light2-gray);
    --color-input: var(--color-off-white);
    --color-muted: var( --color-light1-gray);
}
html.dark {
    --color-background: var(--color-black);
    --color-text: var(--color-white);
    --color-card: var(--color-gray);
    --color-border: var(--color-light-gray);
    --color-input: var(--color-light1-gray);
    --color-muted: var(--color-light2-gray);
}