* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body {
    max-width: 100vw;
    overflow: hidden;
}
body {
    display: flex;
    flex-direction: column;

    background: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: var(--font-body);
    font-weight: var(--weight-normal);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}