.page {
    margin-top: 4rem;
}
.pageContainer {
    margin-top: 2rem;
    width: 1440px;
    margin: 0 auto;
}

.organizationCard {
    border: 1px solid var(--color-primary);
    width: fit-content;
    border-radius: 8px;
    overflow: hidden;
}

.organizationInfo {
    padding: 0 1rem;
}