.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed; 
    top: 0;
    left: 0; 
    width: 100%;
    z-index: 1000; 
}

.navContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

