.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed; 
    top: 0;
    left: 0; 
    width: 100%;
    z-index: 1000; 
    background-color: var(--color-background);
    height: 64px;
}
.navContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.logoContainer {
    background-color: var(--color-primary);
    padding: 0.5rem;
    height: 100%;
    width: 100%;
    display: flex;              
    align-items: center;      
    justify-content: center;  
}
.logoLink {
    margin: auto 0;
}

.navItemContainer {
    height: 100%;
    border: 1px solid var(--color-primary);
    width: 100%;
    border-right: none;
    border-top: none;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto 0;
}
.link {
    text-decoration: none;
    margin: auto 0;
}
.navItemContainer p {
    color: var(--color-primary);
    text-decoration: none;
}

.buttonContainer {
    background-color: var(--color-secondary);
    width: 100%;
    justify-content: center;
    display: flex;
    height: 100%;
}

.buttonContainer p {
    margin: auto 0;
    color: #fcf8f5;
    cursor: pointer;
}

.buttonContainer p:hover {
    text-decoration: underline;
}